.text-theme,
.text-hover-theme a:hover,
.text-hover-theme .active > a {
  color: #ea2e49 !important; }

.nav-active-theme .nav-link.active,
.nav-active-theme .nav > li.active > a,
.btn.theme,
.btn.b-theme:hover,
.btn.b-theme:focus,
.pace .pace-progress,
.theme {
  color: rgba(255, 255, 255, 0.85) !important;
  background-color: #ea2e49 !important; }

.b-theme,
.nav-border,
nav.nav-border {
  border-color: #ea2e49 !important; }

.btn.theme-accent,
.btn.b-theme-accent:hover,
.btn.b-theme-accent:focus {
  color: rgba(255, 255, 255, 0.85) !important;
  background-color: #ea2e49 !important; }

.theme-accent {
  color: rgba(255, 255, 255, 0.85) !important;
  background-color: #ea2e49 !important; }

.sidenav .nav-border .active > a,
.sidenav .nav-active-text .active > a {
  color: #ea2e49; }

.fill-theme {
  fill: #ea2e49; }

.stroke-theme {
  stroke: #ea2e49; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #ea2e49!important;
    color: white;
}
.irs--flat .irs-bar {
    top: 25px;
    height: 12px;
    background-color: #ea2e49!important;
}
.irs--flat .irs-handle > i:first-child {
    border: 2px solid #ea2e49!important;
}
