
a {
    color: #434242;
    transition: all .2s;
}
a:hover {
    text-decoration: none;
    color: #0082c9;
    transition: all .3s;
}
body {
    background-color: #fdfdfd;
    font-family: 'headline-font';
    color: #525252;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'headline-font';
}
ul {
    padding-left: 0px;
}
li {
    display: inline-block;
}
.btn-search, .btn-form {
    border-radius: 2px;
    border: 2px solid #0082c9;
    background-color: #0082c9;
    color: #f5f6f8;
    padding: 6px 35px;
}
.btn-search:focus, .btn-form:focus {
    box-shadow: none;
}
.btn-search:hover, .btn-form:hover {
    border: 2px solid #045a88;
    background-color: #045a88;
}
.btn-accordion {
    width: 100%;
    text-align: left;
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    font-size: 20px;
    color: #fff;
    padding: 9px 12px;
    background: #0082c9;
}
.btn-accordion.collapsed {
    color: #474747;
    background: #dddddd;
}
.btn-accordion:focus {
    box-shadow:none;
}
.bg-grey {
    background-color: #f5f6f8;
}


/******************************
HEADER
******************************/
.menu-wrapper {
    background: #fff;
    border-bottom: 2px solid rgba(153, 161, 182, .08);
}
.logo {
    float: left;
    padding: 15px 0;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}
.main-menu {
    padding-right: 32px;
    display: inline-block;
}
.main-menu li {
    display: inline-block;
    padding-right: 41px;
}
.main-menu > li:last-child {
    padding-right: 0px;
}
.main-menu li a {
    display: block;
    position: relative;
    color: #0082c9;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .4px;
    padding: 32px 0;
}
.main-menu li > a:before {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    background: rgba(219, 219, 219, .5);
    left: -25px;
    top: 38px;
}
.main-menu li:first-child > a:before {
    display: none;
}
.main-menu > li:hover>a:after {
    content: "";
    position: absolute;
    bottom: 10px;
    background-color: #0082c9;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
}
.login {
    padding: 17px 0 17px 32px;
    display: inline-block;
    position: relative;
}
.login a:before {
    content: "";
    position: absolute;
    top: 2px;
    bottom: 2px;
    width: 2px;
    left: 0;
    background: rgba(153, 161, 182, .08);
}











/******************************
CREAT-OBJECT
******************************/
.select2-results__options li {
    display: block;
}
.select2-container--default .select2-selection--single {
    padding: 6px 8px;
    border-radius: 2px;
    border: 2px solid #eff0f3;
    height: 44px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-width: 5px 5px 0 5px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 10px;
    right: 6px;
}
.form-control {
    margin-bottom: 16px;
}
input {
    padding: 8px 8px 8px 16px;
    border-radius: 2px;
    border: 2px solid #eff0f3;
    width: 100%;
}
::-webkit-input-placeholder {
    font-size: 14px;
    color:#999999;
}
:-moz-placeholder {
    font-size: 14px;
    color:#999999;
}
::-moz-placeholder {
    font-size: 14px;
    color:#999999;
}
:-ms-input-placeholder {
    font-size: 14px;
    color:#999999;
}
.select2 {
    font-size: 14px;
}
span.select2-selection.select2-selection--multiple {
    padding: 6px 8px;
    border-radius: 2px;
    border: 2px solid #eff0f3;
    height: 44px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    float: none;
}
[aria-selected="true"] {
    background-color: #0082c9 !important;
    color: #fff !important;
}
input[type=checkbox].css-checkbox {
    display: none;
}
input[type=checkbox].css-checkbox+label.css-label {
    vertical-align: middle;
    cursor: pointer;
    font-size: 15px;
    line-height: 22px;
    color: #525252;
    display: block;
    position: relative;
}

label.css-label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type=checkbox].css-checkbox+label.css-label:before {
    content: '';
    margin-right: 7px;
    position: relative;
    top: 7px;
    border-radius: 3px;
    border: 2px solid #eff0f3;
    padding: 1px 1px 0 1px;
    color: #fff;
    background-color: #fff;
    width: 24px;
    height: 24px;
    display: inline-block;
}
input[type=checkbox].css-checkbox:checked+label.css-label:before {
    border: 2px solid #0082c9;
}
input[type=checkbox].css-checkbox:checked+label.css-label:after {
    content: "";
    font-family: FontAwesome;
    background: #0082c9;
    border-radius: 3px;
    font-size: 20px;
    position: absolute;
    left: 4px;
    bottom: 3px;
    display: block;
    width: 16px;
    height: 16px;
}
.datepicker-here {
    margin-top: 11px;
}
.card-header {
    padding: 0;
}
.accordion .card {
    margin-bottom: 8px;
}
p.label {
    margin-bottom: 0;
    margin-left: 15px;
    color: #525252;
}







/******************************
OBJECT-LIST
******************************/
.object-filter, .realtor-list {
    padding: 22px;
    border-radius: 2px;
    border: 2px solid #eff0f3;
    background-color: #f5f6f8;
}
.object-filter .select2-container, .object-filter input {
    margin-bottom: 1rem;
}
.realtor-item-mini img {
    width: 100%;
    object-fit: cover;
    min-height: 75px;
}
.realtor-item-mini {
    background: #fff;
    align-items: center;
    margin-bottom: .8rem;
}
.realtor-item-mini:last-child {
    margin-bottom: 0;
}
.realtor-item-mini p {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 22px;
    word-spacing: 4px;
}
.realtor-item-mini a {
    color: #0082c9;
    font-size: 14px;
}
.realtor-item-mini a:hover {
    border-bottom: 1px dashed;
    transition: all 0s;
}
.pagination-wrap li:first-child {
    float: left;
}
.pagination-wrap li:last-child {
    float: right;
}
.pagination-wrap .arrow-prev, .pagination-wrap .arrow-next, .pagination-wrap li a {
    padding: 8px 14px;
    border-radius: 2px;
    border: 2px solid #eff0f3;
    background: #fff;
    cursor: pointer;
    color: #0082c9;
}
.pagination-wrap li a {
    padding: 8px 15px;
    display: block;
}
.pagination-wrap li.disabled a {
    color: #eff0f3;
    cursor: no-drop;
}
.pagination-wrap li.disabled a:hover {
    color: #eff0f3;
    background: #fdfdfd;
}
.pagination-wrap li.active a {
    color: #fdfdfd;
    background: #0082c9;
}
.pagination-wrap li a:hover {
    color: #fdfdfd;
    background: #0082c9;
}
.pagination-bottom .pagination-wrap {
    border-radius: 2px;
    border: 2px solid #eff0f3;
    background-color: #fff;
    padding: 15px 22px;
    margin: 25px 0;
}
.table-property-list {
    border-radius: 2px;
    border: 2px solid #eff0f3;
    overflow: hidden;
}
.table-property-list .header-wrap {
    background-color: #0082c9;
    padding: 15px 0;
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: .4px;
}
.table-list-item {
    border-radius: 2px;
    border-bottom: 2px solid #eff0f3;
}
.table-property-list .header-wrap .property {
    padding-left: 30px;
}
.table-property-list .property-info>div {
    display: inline-block;
    width: 23%;
}
.table-property-list .name-wrap h2 {
    color: #0082c9;
    font-size: 20px;
    margin: 0;
    padding-top: 5px;
}
.table-property-list .name-wrap h2 a {
    color: #0082c9;
}
.table-property-list .apartment-image {
    position: relative;
    height: 100%;
}
.table-property-list .apartment-image img {
    width: 100%;
}
.table-property-list .badge-wrapper {
    position: absolute;
    top: 20px;
    left: 20px;
}
.table-property-list .badge-wrapper .small-badge {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    display: inline-block;
    margin: 0 10px 10px 0;
}
.table-property-list .new {
    background-color: #f74c55;
}
.table-property-list .popular {
    background-color: #4192f2;
}
.table-property-list .ipoteka {
    background-color: #9814ae;
}
.table-property-list .address {
    margin-bottom: 0px;
    color: #99a1b6;
    font-size: 13px;
}
.table-property-list .property-info.body>div {
    vertical-align: top;
    color: #99a1b6;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: .4px;
    padding-bottom: 10px;
}
.table-property-list .property-info>div>span {
    display: block;
    color: #37466f;
    font-size: 14px;
    padding-top: 4px;
}
.table-property-list .name-wrap{
    margin-bottom: 0.7rem;
}
.apartment-details-wraper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.apartment-details .price {
    color: #0082c9;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: .4px;
    margin-bottom: 10px;
}

.apartment-details .details-button {
    border-radius: 20px;
    color: #0082c9;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .4px;
    padding: 11px 20px;
    background: #f7f7f7;
    transition: all .1s;
}
.apartment-details .details-button:hover {
    color: #fdfdfd;
    background: #0082c9;
}
.table-property-list .legend {
    padding: 22px 0;
}
.table-property-list .legend .legend-item {
    display: inline-block;
    margin-right: 20px;
    color: #525252;
    font-size: 15px;
    letter-spacing: .44px;
    vertical-align: text-bottom;
}
.table-property-list .legend .legend-item span {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border-radius: 2px;
    display: inline-block;
    vertical-align: text-bottom;
}
.picbox img {
    width: 130px;
    height: 130px;
    object-fit: cover;
}





