
//Bootstrap
@import '~bootstrap/scss/bootstrap';

//Font Awesome
@import '~font-awesome/scss/font-awesome';

@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker.css';

@import '~select2/dist/css/select2';

@import 'objects';
@import 'variables';


// Custom
@import 'style';


.redrays{
    box-shadow: 0 0 17px 0px rgb(255, 0, 0);
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.main-content{
    min-height: 500px;
}
.bigdrop{
    min-width:220px!important;
}

.select2-search.select2-search--inline{
    display: none;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #0082c9 1px;
    outline: none;
    box-sizing: border-box;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 3px;
}
.property-button {
    height: 44px;
    width: 100%;
    text-transform: uppercase;
    border: 2px solid #9cbbfe;
    border-radius: 2px;
    background: #6495fe;
    color: #fff;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .4px;
    position: relative;
    display: block;
    cursor: pointer;
}

.sign-in-form {
    display: block;
    font-size: 0;
    max-width: 770px;
    width: 100%;
    margin: auto auto;
    box-shadow: 0 1px 20px rgba(55,70,111,.16);
    border-radius: 2px;
    border: 2px solid #eff0f3;
    background-color: #fff;
}
.sign-in-form .left-wrap {
    width: 50%;
    display: inline-block;
}
.sign-in-form .right-wrap {
    width: 50%;
    display: inline-block;
    text-align: right;
    vertical-align: bottom;
}
#signin-wrap {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: #fdfdfd;
    opacity: .99;
    display: flex;
}
.invalid-feedback{
    font-size: 14px!important;
}
/******************************
CREAT-OBJECT
******************************/
#object-list-selection .selection-item img {
    width: 100%;
}
#object-list-selection .block-wraper {
    padding: 30px 15px 0px;
}
.block-wraper-title {
    padding: 15px !important;
    margin-bottom: 20px;
}
.block-wraper-title h1 {
    color: #0082c9;
}
.block-wraper-white {
    display: block;
    padding: 15px;
    border-radius: 2px;
    border: 2px solid #eff0f3;
    background-color: #fdfdfd;
}

#object-list-selection .selection-item {
    margin-bottom: 30px;
}
.selection-item .black-fon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 10px;
    color: #fdfdfd;
    font-size: 30px;
    transition: all .2s;
}
.block-wraper-white:hover .black-fon {
    background: rgba(0, 0, 0, 0);
}
#object-list-selection .selection-item .fon-wraper {
    position: relative;
}





.select2-results__options li {
    display: block;
}
.select2-container--default .select2-selection--single {
    padding: 6px 8px;
    border-radius: 2px;
    border: 2px solid #eff0f3;
    height: 44px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-width: 5px 5px 0 5px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 10px;
    right: 6px;
}
.form-control {
    margin-bottom: 16px;
}
input {
    padding: 8px 8px 8px 16px;
    border-radius: 2px;
    border: 2px solid #eff0f3;
    width: 100%;
}
::-webkit-input-placeholder {
    font-size: 14px;
    color:#999999;
}
:-moz-placeholder {
    font-size: 14px;
    color:#999999;
}
::-moz-placeholder {
    font-size: 14px;
    color:#999999;
}
:-ms-input-placeholder {
    font-size: 14px;
    color:#999999;
}
.select2 {
    font-size: 14px;
}
span.select2-selection.select2-selection--multiple {
    padding: 6px 8px;
    border-radius: 2px;
    border: 2px solid #eff0f3;
    height: 44px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    float: none;
}
[aria-selected="true"] {
    background-color: #0082c9 !important;
    color: #fff !important;
}
input[type=checkbox].css-checkbox {
    display: none;
}
input[type=checkbox].css-checkbox+label.css-label {
    vertical-align: middle;
    cursor: pointer;
    font-size: 15px;
    line-height: 22px;
    color: #525252;
    display: block;
    position: relative;
}

label.css-label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type=checkbox].css-checkbox+label.css-label:before {
    content: '';
    margin-right: 7px;
    position: relative;
    top: 7px;
    border-radius: 3px;
    border: 2px solid #eff0f3;
    padding: 1px 1px 0 1px;
    color: #fff;
    background-color: #fff;
    width: 24px;
    height: 24px;
    display: inline-block;
}
input[type=checkbox].css-checkbox:checked+label.css-label:before {
    border: 2px solid #0082c9;
}
input[type=checkbox].css-checkbox:checked+label.css-label:after {
    content: "";
    font-family: FontAwesome;
    background: #0082c9;
    border-radius: 3px;
    font-size: 20px;
    position: absolute;
    left: 4px;
    bottom: 2px;
    display: block;
    width: 16px;
    height: 16px;
}
.datepicker-here {
    margin-top: 11px;
}
.card-header {
    padding: 0;
}
.accordion .card {
    margin-bottom: 8px;
}
p.label {
    margin-bottom: 0;
    margin-left: 15px;
    color: #525252;
}

.picbox{
    float: left;
    position: relative;
}
.picbox img {
    padding: 8px;
    user-select: none;
}

.picbox .delete{
    position: absolute;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    height: 20px;
    width: 20px;
    top: 10px;
    right: 10px;
    display: none;
    border-radius: 50%;
    background: white;
    color: black;
    cursor: pointer;
}

.picbox .rotate{
    left: 10px;
    position: absolute;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    height: 20px;
    width: 20px;
    top: 10px;
    display: none;
    border-radius: 50%;
    background: white;
    color: black;
    cursor: pointer;
}
.picbox .rotate:hover{
    color: white;
    background: black;
}

.picbox .delete:hover{
    color: white;
    background: black;
}
.picbox:hover .delete{
    display: block;
}

.picbox:hover .rotate{
    display: block;
}
.apartment-details-wraper {
    position: relative;
}

.dellink{
    position: absolute;
    top: 5px;
    right: 20px;
    display: none;
}
.apartment-details-wraper:hover .dellink{
    display: block;
}
.apartment-details .price {
    text-align: center;
}
.apartment-image img{
    object-fit: cover;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    position: relative;
}
.footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    line-height: 50px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 45%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.loading .loader{
    display: block;
}
.l_main{
    height: 126px;
    width: 290px;
    margin: 0 auto;
}
.loader{
    height:100%;width:100%;
    display: none;
    position: fixed;
    top: 0;
    background: rgba(255, 255, 255, 0.5);}
.loader.show{
    display: block;
}
.loader .l_main{position:absolute;top:50%;left:50%;width:172px;height:128px;margin:0;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
@media (max-width:550px){.loader{-webkit-transform:scale(0.75);transform:scale(0.75)}}
@media (max-width:440px){.loader{-webkit-transform:scale(0.5);transform:scale(0.5)}}
.l_square{position:relative}
.l_square:nth-child(1){margin-left:0px}
.l_square:nth-child(2){margin-left:44px}
.l_square:nth-child(3){margin-left:88px}
.l_square:nth-child(4){margin-left:132px}
.l_square span{position:absolute;top:0px;left:20px;height:36px;width:36px;border-radius:2px;background-color: #0082c9;}
.l_square span:nth-child(1){top:0px}
.l_square span:nth-child(2){top:44px}
.l_square span:nth-child(3){top:88px}
.l_square:nth-child(1) span{-webkit-animation:animsquare1 2s infinite ease-in;animation:animsquare1 2s infinite ease-in}
.l_square:nth-child(2) span{-webkit-animation:animsquare2 2s infinite ease-in;animation:animsquare2 2s infinite ease-in}
.l_square:nth-child(3) span{-webkit-animation:animsquare3 2s infinite ease-in;animation:animsquare3 2s infinite ease-in}
.l_square:nth-child(4) span{-webkit-animation:animsquare4 2s infinite ease-in;animation:animsquare4 2s infinite ease-in}
.l_square span:nth-child(1){-webkit-animation-delay:0.00s;animation-delay:0.00s}
.l_square span:nth-child(2){-webkit-animation-delay:0.15s;animation-delay:0.15s}
.l_square span:nth-child(3){-webkit-animation-delay:0.30s;animation-delay:0.30s}
@-webkit-keyframes animsquare1{0%,5%,95%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}30%,70%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@keyframes animsquare1{0%,5%,95%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}30%,70%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@-webkit-keyframes animsquare2{0%,10%,90%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}35%,65%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@keyframes animsquare2{0%,10%,90%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}35%,65%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@-webkit-keyframes animsquare3{0%,15%,85%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}40%,60%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@keyframes animsquare3{0%,15%,85%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}40%,60%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@-webkit-keyframes animsquare4{0%,20%,80%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}45%,55%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@keyframes animsquare4{0%,20%,80%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}45%,55%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
#sidebar {
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 15px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li{
    width: 100%;
}

#sidebar ul li a {
    padding: 10px 20px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
#sidebar .dropdown-toggle::after {
    display: none;
}

a[data-toggle="collapse"] {
    position: relative;
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
    color: #fff;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

