
//Bootstrap
@import '~bootstrap/scss/bootstrap';

//Font Awesome
@import '~font-awesome/scss/font-awesome';

@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker.css';

@import '~select2/dist/css/select2';

//@import 'objects';
//@import 'variables';

.select2-results__options {
    max-height: 260px!important;
}


// Custom
@import 'template/header';

main{
    position: relative;
}
body{
    background-color: #f4f4f4;
    font-family: "Open sans";
    font-size: 15px;
    color: #000;
}
.container {
    padding-right: 8px;
    padding-left: 8px;
}
.main-content{
    padding-top:50px;
}
.tab_checkbox{
    display: flex;
}
.tab_checkbox input {
    display: none;
}
.tab_checkbox input:checked + label {
    background: #ffffff;
    border-color: #e4e4e4;
    border-bottom: none;
    color: #0082c9;
}
.tab_checkbox label {
    padding: 12px 14px;
    border: 1px solid transparent;
    border-bottom: none;
    transition: all 0.2s;
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin: 0;
}
.filter_panel{
    margin-top: -1px;
    background: #fff;
    border: 1px solid #e4e4e4;
    padding: 0 15px;
}
#filter-head .filter_elem:first-child{
    padding-top: 25px;
}
.filter_elem{
    padding-bottom: 25px;
}

.tab_pin{
    display: flex;
    margin: 0 -5px;
}
.tab_pin input {
    display: none;
}
.tab_pin input:checked + label {
    background: #0082c8;
    border-color: #0082c9;
    color: #fff;
}

.tab_pin label {
    padding: 6px 12px;
    border: 1px solid #ced4da;
    transition: all 0.2s;
    cursor: pointer;
    width: 100%;
    text-align: center;
    border-radius: 0.25rem;
    margin: 0 5px;
}
.number_input input{
    width: 100%;
    margin: 0 5px;
    line-height: 34px;
    padding: 0 8px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.number_input{
    display: flex;
    margin: 0 -5px;
}
.number_input .unit{
    padding: 0 14px;
    line-height: 36px;
    color: #99a2a7;
    font-size: 18px;
    font-weight: bold;
}
.btn-search:active{
    background: #0082c9;
}
.btn-search{
    width: 100%;
    background: #b0cb1f;
    color: #fff;
}
.prev_tab_container li{
    width: 100%;
}
.prev_tab_container{
    padding-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    border-bottom: none;
}
.prev_tab_container li a.active{
    background: #ffffff;
    border-color: #e4e4e4;
    border-bottom: none;
    color: #0082c9;
}
.prev_tab_container li a{
    padding: 12px 14px;
    border: 1px solid transparent;
    border-bottom: none;
    transition: all 0.2s;
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin: 0;
    display: block;
    text-decoration: none;
}

.prev_pic img{
    width: 100%;
    padding: 10px;
}

.offer-item:first-child{
    margin-top: -1px;
    border-radius: 0 0 6px 6px;
}

.offer-item{
    overflow: hidden;
    background: #fff;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #eee;
}
.offer-item .links a{
    display: block;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    color: #0082c8;
}
.offer-item .links a:first-child {
    margin-top: -10px;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    height: 38px;
    line-height: 38px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 36px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
}
.footer .list-inline{
    overflow: hidden;
    background: #fff;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #eee;
}
.footer .item{
    line-height: 40px;
    text-align: center;
}
.webstyle_footer{
    text-align: center;
    padding-bottom: 20px;
}
.footer a{
    color: #0082c8;
}

//.type-1 #readiness{
//    display: block;
//}
//.type-1 #rooms{
//    display: block;
//}
//
//.type-6 .commece_type-wraper{
//    display: block;
//}
//
//.type-4 .square-sot-wraper{
//    display: block;
//}
//
//.type-2 .square-wraper, .type-3 .square-wraper{
//    display: block;
//}


.select2{
    width: 100%!important;
}
.type-1 #square_sot, .type-1 #commece_type{
    display: none;
}
.type-2 #square_sot, .type-2 #readiness, .type-2 #rooms, .type-2 #commece_type{
    display: none;
}
.type-3 #square_sot, .type-3 #readiness, .type-3 #rooms, .type-3 #commece_type{
    display: none;
}
.type-4 #square, .type-4 #readiness, .type-4 #rooms, .type-4 #commece_type{
    display: none;
}
.type-5 #square_sot, .type-5 #readiness, .type-5 #rooms, .type-5 #commece_type{
    display: none;
}
.type-6 #square_sot, .type-6 #readiness, .type-6 #rooms{
    display: none;
}

.results_header{
    font-size: 16px;
    color: #000;
    font-weight: 600;
}
.object-wraper{
    overflow: hidden;
    background: #fff;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #dadada;
}
.object-info{
    padding: 0 15px;
}
.object-info .elem{
    line-height: 32px;
    color: #000000;
}
.object-info .elem.more{
    margin: 0 -15px;
}
.object-info .elem.more a{
    display: block;
    width: 100%;
    text-align: center;
    line-height: 50px;
    background: #aaca56;
    font-weight: bold;
    color: #fff;
}
.object-info .elem a{
    color: #000000;
}
.object-image img{
    width: 100%;
}
.price-big{
    font-weight: bold;
}
.filter_panel.inpage{
    padding-top: 15px;
    margin-bottom: 15px;
}
#mapCollapse .preloader {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    line-height: 570px;
    text-align: center;
    background: #fdfdfd;
    color: #007aff;
    height: 100%;
}
#mapCollapse {
    position: relative;
}
.not_found{
    background: #fff;
    border: 1px solid #e4e4e4;
    padding: 20px 15px;
    margin-bottom: 15px;
}
.published{
    color: #969696;
}
.fotorama__wrap--css3 .fotorama__html, .fotorama__wrap--css3 .fotorama__stage .fotorama__img {
    width: 100%!important;
    left: 0!important;
    object-fit: cover;
}
.title-2{
    font-size: 16px;
    color: #000;
    font-weight: 600;
}
.details-wraper .elem{
    display: flex;
    padding: 0 15px;
    line-height: 30px;
    border-bottom: 1px solid #eee;
}
.elem .details-title{
    width: 100%;
}
.elem .details-data{
    width: 100%;
    text-align: right;
    overflow: hidden;
}
.details-wraper .elem:last-child {
    border-bottom: none;
}
.description-wraper .contenter{
    padding: 15px;
    margin: 0;
}
.object-wraper .elem.price p{
    font-weight: bold;
}
.manager-data{
    padding: 15px;
    background: #eee;
    margin: 10px -15px;
}
.information-column .contact a{
    color: #fff;
}
.information-column .contact{
    line-height: 50px;
    background-color: #aaca56;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    display: block;
}
