
header {

    .header-top {
        font-size: 14px;

        a {
            color: #000;
            transition: color .15s;

            &:hover {
                color: $primary_color;

            }
        }
    }

    .header-menu-wrapper {
        background-color: $header_menu;
    }

    .header-menu {
        padding-left: 0;

        ul {
            padding: 0;

            li {

                a {
                    display: inline-block;
                    padding: 12px 15px;
                    transition: all 0.15s;
                    font-size: 1rem;
                    color: #000;

                    &:hover {
                        background-color: $primary_color;
                        color: #fff;
                    }
                }
            }
        }
    }

    ul {
        padding: 10px 0;
        list-style: none;
        margin: 0;
        width: 100%;
        overflow: auto;

        li {
            display: inline-block;

            &.end {
                float: right;
            }
        }
    }
}