// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@font-face {
    font-family: 'headline-font';
    src: url('/fonts/6540.ttf');
}

@import '~font-awesome/css/font-awesome.min.css';
@import '~normalize.css/normalize.css';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fancyapps/fancybox/dist/jquery.fancybox.min.css';
@import '~select2/dist/css/select2';

#form_apartment {
    border: 2px solid #eff0f3;
    padding: 10px 20px;
}

.count-room {

    label:not(.title) {
        padding: 6px 14px;
        background: #f5f6f7;
        border: 1px solid #ced4da;
        border-radius: 4px;
        transition: all .2s;
        cursor: pointer;
    }

    input {
        display: none;

        &:checked + label {
            background: #0082c9;
            border-color: #0082c9;
            color: #fff;
        }
    }
}

body {
    background-color: #fdfdfd;
    font-family: 'headline-font';
    color: #525252;
}

.footer {
    font-size: 12px;
    border-top: 1px solid #eff0f3;
}
.footer img {
    width: 100%;
    max-width: 160px;
    display: block;
    margin: auto;
    height: 41px;
    object-fit: scale-down;
}
.bl {
    border-left: 1px solid #eff0f3;
}

a {
    color: #434242;
    transition: all .2s;
}

a:hover {
    text-decoration: none;
    color: #0082c9;
    transition: all .3s;
}

body {
    background-color: #fdfdfd;
    font-family: 'Open sans';
    color: #525252;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open sans';
}

ul {
    padding-left: 0;
}

li {
    display: inline-block;
}

.title-2 {
    color: #0082c9;
    -webkit-font-smoothing: antialiased;
    font-size: 26px;
    margin-bottom: 15px
}

.btn:focus {
    box-shadow: none;
}

.btn-search {
    border-radius: 2px;
    border: 2px solid #0082c9;
    background-color: #0082c9;
    color: #f5f6f8;
    padding: 6px 35px;
}

.btn-search:hover {
    border: 2px solid #045a88;
    background-color: #045a88;
}

/******************************
HEADER
******************************/

.top-bar {
    background-color: rgba(153, 161, 182, .08);
    font-size: 12px;
    letter-spacing: .38px;
    line-height: 16px;
}

.top-bar ul li {
    display: inline-block;
    padding: 10px 0;
}

.top-bar ul li:first-child {
    margin-right: 24px;
}

.top-bar .fa {
    font-size: 16px;
    margin-right: 8px;
    margin-top: -3px;
    display: inline-block;
    vertical-align: middle;
    color: #0082c9;
}

.menu-wrapper {
    background: #fff;
    border-bottom: 2px solid rgba(153, 161, 182, .08);
}

.logo {
    float: left;
    padding: 15px 0;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}

.main-menu li {
    display: inline-block;
    padding-right: 41px;
}

.main-menu > li:last-child {
    padding-right: 0px;
}

.main-menu li a {
    display: block;
    position: relative;
    color: #0082c9;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .4px;
    padding: 32px 0;
}

.main-menu li > a:before {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    background: rgba(219, 219, 219, .5);
    left: -25px;
    top: 38px;
}

.main-menu li:first-child > a:before {
    display: none;
}

.main-menu > li:hover > a:after {
    content: "";
    position: absolute;
    bottom: 10px;
    background-color: #0082c9;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
}
.footer-menu{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    line-height: 41px;
}
/******************************
HOME-BANER
******************************/

.home-baner {
    height: 400px;
    background: url('/images/img/bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.home-baner .nav-link {
    background: #fdfdfdb3;
    border-radius: 4px !important;
    min-width: 104px;
    text-align: center;
    padding: 6px 16px;
    margin-right: 10px;
}

.nav-tabs {
    border-bottom: 0px;
}
.nav-tabs a{
    cursor: pointer;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: #fdfdfdd1;
}

.filter-wraper {
    background: #fffffff0;
    padding: 20px;
    border-radius: 4px;
}

.tab-pane label {
    display: block;
}

.room-item {
    width: 40px;
    border-radius: 2px;
    border: 2px solid #eff0f3;
    background-color: #fff;
    text-align: center;
    padding: 6px 0;
    cursor: pointer;
}

.room-item.active {
    border: 2px solid #0082c9;
    background-color: #0082c9;
    color: #f5f6f8;
}

.button-wraper {
    clear: both;
    text-align: right;
}

.input-filter {
    border-radius: 2px;
    border: 2px solid #eff0f3;
    background-color: #fff;
    padding: 6px 30px 6px 10px;
    width: 100%;
}

.filter-wraper input:focus {
    outline: none;
}

.unit {
    color: #93989d;
    position: absolute;
    top: 8px;
    right: 10px;
}

.room-wraper {
    float: left;
    display: block;
}

.area-wraper {
    float: left;
}
.rooms-wraper{
    min-width: 275px;
    float: left;
    display: none;
}
.readiness-wraper {
    min-width: 130px;
    float: left;
    line-height: 22.5px;
    display: none;
}
.square-wraper{
    min-width: 290px;
    float: left;
    display: none;
}
.square-sot-wraper{
    min-width: 290px;
    float: left;
    display: none;
}
.cost-wraper {
    min-width: 282px;
    float: left;
}

.district-wraper {
    float: left;
    width: 30%;
}
.commece_type-wraper{
    float: left;
    display: none;
}
.btn:hover {
    color: #f5f6f8;
    text-decoration: none;
}
#filter-head .nav-tabs .nav-link.active{
    background: #0082c9;
    border-color: #0082c9;
    color: #fff;
}
.inmap-img{
    height: 150px;
    width: 100%;
    object-fit: cover;
}

#mapCollapse{
    position: relative;
}
#mapCollapse .preloader{
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    line-height: 570px;
    text-align: center;
    background: #fdfdfd;
    color: #007aff;
    height: 100%;
}
#mapCollapse.cloack .preloader{
    display: block;
}

.type-1 .readiness-wraper{
    display: block;
}
.type-1 .rooms-wraper{
    display: block;
}

.type-6 .commece_type-wraper{
    display: block;
}

.type-4 .square-sot-wraper{
    display: block;
}

.type-2 .square-wraper, .type-3 .square-wraper{
    display: block;
}

.ib{
    display: inline-block!important;
}
.select2-container {
    max-width: 300px;
}
.fotorama__nav__shaft {
    float: left;
}
/******************************
PROPERTY
******************************/

.property-wraper {
    border-radius: 2px;
    border: 2px solid #eff0f3;
    background-color: #f5f6f8;
    padding: 22px;
    margin-bottom: 30px;
}

.property-header {
    padding: 13px 13px 12px;
    background-color: #fff;
    border-radius: 2px;
    border: 2px solid rgba(100, 149, 254, .08);
    margin-bottom: 10px;
}

.property-header .property-title {
    font-size: 14px;
    text-transform: uppercase;
    color: #525252;
}

.property-item {
    padding: 13px 13px 12px;
    border-radius: 2px;
    border: 2px solid #eff0f3;
    margin-top: 10px;
    display: block;
}

.property-item:hover {
    border: 2px solid #63b3df;
    background-color: #0082c9;
}

.property-item:hover .property-title,
.property-item:hover .property-quantity {
    color: #fff;
}

.property-item .property-title {
    color: #0082c9;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .4px;
}

.property-quantity {
    color: #99a1b6;
    font-size: 75%;
    float: right;
    padding-top: 3px;
}


/******************************
OBJECT-SLIDER
******************************/

.object-list-info {
    color: #0082c9;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .3px;
    word-break: normal;
    display: flex;
    align-items: center;
}

.object-list-info i {
    font-size: 16px;
    padding: 12px;
    border-radius: 100%;
    background-color: #f7f7f7;
    margin-right: 20px;
    color: #99a1b6;
}

.object-list .links-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.object-list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    margin-bottom: 40px;
}

.links-block a {
    color: #0082c9;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .4px;
}

.links-block a + a:before {
    content: '';
    margin-right: 18px;
    margin-left: 18px;
    position: relative;
    display: inline-block;
    width: 9px;
    height: 9px;
    background-color: rgba(219, 219, 219, .5);
}

.links-block a:hover {
    text-decoration: underline;
}

.object-wraper {
    background-color: #fff;
    position: relative;
    border: 2px solid #eff0f3;
    border-radius: 2px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.object-title {
    margin-top: 4px;
    margin-bottom: 7px;
    color: #0082c9;
    font-size: 20px;
    font-weight: 600;
}

.object-address i {
    font-size: 16px;
    color: #99a1b6;
}

.object-address .address, .agency-list-address .address {
    color: #525252;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: .44px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    display: block;
    text-overflow: ellipsis;
}

.agency-list-address .address {
    font-size: 16px;
}

.object-image {
    position: relative;
    height: 214px;
    margin-left: -20px;
    margin-right: -20px;
}

.object-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.object-image .badges {
    position: absolute;
    top: 10%;
    left: 5%;
}

.object-image .badges p {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    font-family: "Open sans";
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    text-transform: uppercase;
    letter-spacing: .5px;
    margin-bottom: 0;
    color: #fff;
}

.featured {
    background-color: #9814ae;
}

.rent {
    background-color: #4192f2;
}

.sale {
    background-color: #f74c55;
}

.object-values {
    position: relative;
    margin-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #99a1b6;
}

.object-values span {
    color: #525252;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: .44px;
}

.object-values span + span:before {
    padding: 8px;
    color: #99a1b6;
    content: "/\00a0";
}


.object-info {
    padding: 12px 0;
    display: grid;
    display: -ms-grid;
    grid-template-columns: max-content max-content;
    -ms-grid-columns: max-content max-content;
    justify-content: space-between;
}

.object-price .price-big {
    color: #0082c9;
    font-family: "Open sans";
    font-size: 19px;
    font-weight: 600;
    letter-spacing: .4px;
}

.object-price .price-small {
    color: #525252;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: .44px;
}

.object-info .icons {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

.object-info .icons .clone {
    margin: auto 10px auto 0;
}

.object-info .icons .heart {
    margin: auto 0;
}

.object-info .icons i {
    border: 2px solid #f7f7f7;
    padding: 11px;
    background: #f7f7f7;
    border-radius: 100%;
    font-size: 16px;
    color: #99a1b6;
}

.object-info .icons .clone:hover .fa {
    box-shadow: 0 1px 10px #6495fe;
    background-color: #6495fe;
    color: #f7f7f7;
}

.object-info .icons .heart:hover .fa {
    box-shadow: 0 1px 10px rgba(255, 64, 129, .5);
    background-color: #ff4081;
    color: #f7f7f7;
}

.object-info .icons .heart:hover .fa:before {
    content: "\f004";
}

.object-manager {
    clear: both;
    background: #f7f7f7;
    padding: 20px;
    margin-left: -20px;
    margin-right: -20px;
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    grid-gap: 10px;
    align-items: center;
    display: -ms-grid;
    -ms-grid-columns: max-content max-content;
}

.object-manager .manager-icon {
    position: relative;
    height: 40px;
    width: 40px;
    margin: auto 0;
}

.object-manager .manager-icon img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.object-manager .manager-icon .online-status {
    position: absolute;
    top: 10%;
    width: 8px;
    height: 8px;
    box-shadow: 0 0 10px #cddc39;
    background-color: #cddc39;
    border-radius: 50px;
}

.object-manager .manager-name {
    color: #0082c9;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: .44px;
    margin: auto 0 auto 16px;
}

.manager-wrap {
    display: flex;
}

.arrow-block {
    display: grid;
    display: -ms-grid;
}

.arrow-block .arrow-wrapper button {
    margin-right: 20px;
    padding: 0;
    border: none;
    background: no-repeat;
    cursor: pointer;
    outline: none;
}

.arrow-block .arrow-wrapper button i,
.object-slider-wraper .arrow-wrapper button i {
    font-size: 16px;
    line-height: 14px;
    padding: 11px 12px;
    background-color: #f7f7f7;
    border-radius: 100%;
    color: #99a1b6;
}

.arrow-block .arrow-wrapper button:hover i, .button-wrapper a:hover,
.object-slider-wraper button:hover i,
.property-share-wraper a:hover,
.pagination-wraper > ul > li.active > a,
.pagination-wraper > ul > li > a:hover {
    background-color: #0082c9 !important;
    color: #fdfdfd !important;
    box-shadow: 0 1px 10px rgba(0, 130, 201, .5);
}

.pagination-wraper > ul > li > a:hover i {
    color: #fdfdfd !important;
}

.arrow-block .arrow-wrapper {
    grid-column: 1;
    -ms-grid-column: 1;
    display: flex;
    margin: auto 0;
}

.arrow-block .button-wrapper {
    grid-column: 3;
    -ms-grid-column: 3;
    display: flex;
    margin: auto 0;
    flex-direction: row-reverse;
}

.arrow-block .button-wrapper a {
    display: inline-block;
    padding: 12px 20px 11px 20px;
    border-radius: 20px;
    background-color: #f7f7f7;
    color: #0082c9;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .4px;
}

.sidebar-box {
    background-color: #f5f6f8;
    padding: 25px;
    margin-bottom: 25px;
}

#object-slider-previe img, #object-slider img {
    width: 100%;
}

#object-slider .badges {
    position: absolute;
    top: 5%;
    left: 5%;
}

#object-slider .badges p {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    text-transform: uppercase;
    letter-spacing: .5px;
    margin-bottom: 0;
    color: #fff;
}

.object-slider-wraper .arrow-wrapper button {
    padding: 0;
    border: none;
    background: no-repeat;
    cursor: pointer;
    outline: none;
}

.object-slider-wraper .arrow-wrapper button i {
    font-size: 16px;
    line-height: 14px;
    padding: 11px 12px;
    background-color: #f7f7f7;
    border-radius: 100%;
    color: #99a1b6;
    transition: .2s;
}

.object-slider-wraper {
    position: relative;
}

.object-slider-wraper .arrow-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 54px;
}

.img-wraper .slick-slide{
    cursor: pointer!important;
}
/******************************
BREADCRUMBS
******************************/


.breadcrumbs li {
    display: inline-block;
}

.breadcrumbs a {
    color: #0082c9;
    -webkit-font-smoothing: antialiased;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    padding-left: 22px;
    position: relative;
    display: block;
}

.breadcrumbs a:before {
    content: '';
    position: absolute;
    left: 5px;
    top: 3px;
    height: 10px;
    width: 9px;
    background-color: #0082c9;
    z-index: 2;
}


/******************************
OBJECT
******************************/

.wrapper-box {
    background-color: #fff;
    padding: 25px;
    border: 2px solid #eff0f3;
    margin-bottom: 30px;
}

.details-title, .details-data {
    display: inline-block;
    margin-bottom: 10px;
}

.details-title {
    font-weight: bold;
    margin-right: 7px;
}

.sidebar-agent .object-manager {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
}

.sidebar-agent .manager-icon {
    position: relative;
    height: auto;
    width: auto;
}

.sidebar-agent .manager-icon a {
    display: block;
    height: 80px;
    width: 80px;
}

.sidebar-agent .manager-name {
    font-size: 20px;
}

.open-phone:hover {
    border-bottom: 1px dashed;
    cursor: pointer;
}

.sidebar-agent .information-column {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 22px 0px;
    grid-template-columns: max-content 1fr;
    color: #99a1b6;
}

.sidebar-agent .information-column a {
    color: #99a1b6;
}

.sidebar-agent .information-column a:hover {
    color: #4192f2;
}

.phone-toggle {
    display: none;
}

.sidebar-agent .information-column span i {
    margin-right: 8px;
    width: 12px;
}

#map {
    height: 389px;
}

.sidebar-box .object-title {
    font-weight: 400;
    line-height: 21px;
    font-size: 19px;
    margin-top: 7px;
}

.sidebar-box .object-wraper {
    padding-left: 15px;
    padding-right: 15px;
}

.sidebar-box .object-wraper:last-child {
    margin-bottom: 0;
}

.sidebar-box .object-image {
    margin-left: -15px;
    margin-right: -15px;
}

.property-share-wraper a {
    background-color: #f7f7f7;
    border-radius: 20px;
    color: #0082c9;
    font-size: 16px;
    margin-right: 20px;
    padding-top: 8px;
    display: inline-block;
    text-align: center;
    height: 40px;
    width: 40px;
}


/******************************
AGENCY
******************************/

.agency-list-title {
    color: #0082c9;
}

.agency-list-wraper, .pagination-wraper {
    border-radius: 2px;
    border: 2px solid #eff0f3;
    background-color: #fff;
    padding: 24px;
}

.agency-list-contact .agency-contact-title {
    color: #99a1b6;
}

.agency-list-contact .agency-contact-title i {
    width: 12px;
    margin-right: 8px;
}

.pagination-wraper > ul > li > a > i {
    color: #99a1b6;
    font-size: 16px;
    line-height: 20px;
}

.pagination-wraper > ul > li:first-child {
    float: left;
}

.pagination-wraper > ul > li:last-child {
    float: right;
}

.pagination-wraper > ul > li > a {
    display: block;
    color: #527efd;
    font-size: 12px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    padding-top: 10px;
    -webkit-transition: all 0s;
    transition: all 0s;
}

.pagination-wraper ul {
    margin: 0;
    text-align: center;
}
.select2-container--default .select2-selection--single {
    padding: 5px 8px;
    border-radius: 2px;
    border: 2px solid #eff0f3;
    height: 40px;
    width: 100%;
}
.select2-results__option {
    width: 100%;
}
.select2-container--default .select2-results > .select2-results__options {
    max-height: 400px!important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 41px;
    position: absolute;
    top: 1px;
    right: 9px;
    width: 20px;
}
.area-tab-header li a {
    display: inline-block;
    color: #527efd;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    padding: 0 15px;
}
.area-tab-header li a{
    border-radius: 6px 6px 0 0;
    line-height: 45px;
}
.area-tab-header li a.active {
    background-color: #0082c9;
    color: #fff;
}
.offer-item {
    border-radius: 2px;
    background-color: #fff;
}
.offer-item .links{
    display: block;
    width: 100%;
    padding: 20px 0;
}
.links .category {
    display: block;
    line-height: 31px;
    font-size: 15px;
    padding: 0px 25px;
}
.links a{
    color: #0082c9;
}

.links a:hover{
    text-decoration: underline;
}

.links .category i{
    color: #b0cb1f;
}
.offer-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}
.area-tabs .tab-content{
    border: 1px solid #eff0f3;
}
.description-wraper p{
    word-break: break-all;
}
.details-wraper .details-data{
    max-width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: right;
}
.details-wraper .elem.fullwidth{
    flex: 0 0 100%;
    max-width: 100%;
}
.details-wraper .elem{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 50%;
    max-width: 50%;
}
