@import '~croppr/dist/croppr.css';

.croppr-container{
    text-align: center;
}
.back-btn:hover{
    border-color: rgba(255, 255, 255, 0.2);
}
.back-btn{
    border: 1px solid;
    padding: 4px 10px;
    border-color: rgba(120, 130, 140, 0.2);
    font-size: 14px;
    line-height: 14px;
    margin-right: 13px;
}
.brick-row{
    display: flex;
}
.brick-col:hover{
    background-color: #eee;
}
.brick-col:hover img{
    //filter: invert(10%);
}
.brick-col {
    width: 100%;
    padding: 15px 0;
}
@media only screen and (min-width : 1200px) {
    .brick-row .brick-col:not(:last-child){
        border-right: 1px solid #eeeeee;
    }
    .brick-row:not(:last-child){
        border-bottom: 1px solid #eeeeee;
    }
    .dark .brick-row .brick-col:not(:last-child){
        border-right: 1px solid #1e2835;
    }
    .dark .brick-row:not(:last-child){
        border-bottom: 1px solid #1e2835;
    }
}

@media only screen and (max-width : 1200px) {
    .text-ellipsis {
        white-space: normal!important;
    }
    .display-6 span{
        font-size: 25px!important;
    }
    .username{
        font-size: 20px;
    }
    .content-main .avatar{
        width: 56px!important;
    }
}


.create-object-container{
    overflow: hidden;
    border-bottom: 1px solid #eee;
}
#create_object{
    border-top: 1px solid #eee;
}
.dark .create-object-container{
    border-bottom: 1px solid #1e2835;
}
#create_object{
}
.dark #create_object{
    border-top: 1px solid #1e2835;
}

.dark .brick-col:hover{
    background-color: #1e2835;
}

.dark .close-selecter {
    border: 1px solid #1e2835;
    background: rgb(25, 33, 45);
    color: #76899b;
}
.close-selecter {
    border: none;
    cursor: pointer;
    width: 100%;
    background: rgb(30, 40, 53);
    color: #eee;
    border-bottom: none!important;
}



.round_prev{
    text-align: center;
    width: 128px;
    height: 128px;
    line-height: 128px;
    margin: 0 auto;
    border-radius: 5000px;

    background: #e2e9f18f;
    box-shadow: inset 6px 6px 13px 0px #cbd1da;
}
.dark .round_prev{
    background: #1e2835;
    box-shadow: inset 6px 6px 13px 0px rgb(25, 33, 45);
}
.round_prev img{
    width: 76px;
    height: 76px;
}
.content-main.backdrop{
    overflow: hidden!important;
    user-select: none;
}
.content-main {
    position: relative;
    min-height: calc(100vh - 107px);
    overflow: hidden!important;
}
.content-main.backdrop:after {
    top: 0;
    height: 100%;
}

.content-main:after {
    transition: 0.4s;
    content: "";
    background: linear-gradient(to bottom, rgb(30, 40, 53) 0%, rgba(246, 246, 246, 0.02) 100%);
    width: 100%;
    height: 0%;
    top: -100vh;
    z-index: 9999999;
    user-select: none;
    position: absolute;
}
.dark .content-main:after {
    background: linear-gradient(to bottom, #19212d 0%, rgba(246, 246, 246, 0.02) 100%);
}

.select2-container .select2-results .select2-results__options {
    max-height: 260px;
    overflow: hidden;
}

.dark .select2-dropdown {
    background-color: #273445;
}
.dark .select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #374454!important;
    color: #6b829e!important;
}
.dark .select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: rgba(120, 130, 140, 0.2)!important;
    background: #202a38a1!important;
}
.select2-results__message {
    display: none !important;
}
.dark .select2-container--default .select2-dropdown {
    color: rgba(157, 179, 202, 0.85);
    border-color: rgba(120, 130, 140, 0.2);
}

.select2-search__field::placeholder {
    color: rgba(70, 90, 110, 0.85)!important;
}
.dark .select2-search__field::placeholder {
    color: rgba(160, 180, 200, 0.85)!important;
}

.form-control::placeholder, .form-control::-webkit-input-placeholder, .form-control:-moz-placeholder{
    color: rgba(70, 90, 110, 0.85)!important;
}
.body-creat-object p{
    margin-bottom: 0.2rem!important;
}

.map-container{
    padding: 0!important;
    width: 100%;
    position: relative;
}
.dark .map-container{
    background: #D1D4CA;
}
.dark .map-container #map{
    mix-blend-mode: exclusion;
}
select{
    max-height: 33px;
}

[class*="copyrights-promo"], [class*="copyrights-pane"]{
    display:none;
}

.dark .select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #1a222d !important;
    cursor: default;
}
.dark .ui-check input:checked + i:before {
    background-color: #5b7fad;
}
.dark .ui-check > i {
    box-shadow: inset 0 0 0 2px rgb(55, 68, 84);
}
.dark .dark-white {
    background-color: #273445 !important;
}
.dark .light {
    background-color: #273445!important;
}

#dops p{
    margin-bottom: 15px!important;
}
.body-creat-object .box label{
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.body-creat-object .box p {
    margin-bottom: 0 !important;
}
#images{
    margin-top: -0.5rem!important;
    margin-bottom: -0.5rem!important;
}
.alert-dismissible .close {
     padding: 0.45rem 1.25rem;
 }

@keyframes shake {
    0% { transform: translate(0.5px, 0.5px) rotate(0deg); }
    10% { transform: translate(-0.5px, -1px) rotate(-0.5deg); }
    20% { transform: translate(-1.5px, 0px) rotate(0.5deg); }
    30% { transform: translate(1.5px, 1px) rotate(0deg); }
    40% { transform: translate(0.5px, -0.5px) rotate(0.5deg); }
    50% { transform: translate(-0.5px, 1px) rotate(-0.5deg); }
    60% { transform: translate(-1.5px, 0.5px) rotate(0deg); }
    70% { transform: translate(1.5px, 0.5px) rotate(-0.5deg); }
    80% { transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
    90% { transform: translate(0.5px, 1px) rotate(0deg); }
    100% { transform: translate(0.5px, -1px) rotate(-0.5deg); }
}
#images .image-contracter{
    transition: 0.15s;
    overflow: hidden;
}
#images.dragged .image-contracter{
    transform: scale(0.95);
    //animation: shake 0.8s;
    //animation-iteration-count: infinite;
}

.fa-button {
    padding: 4px;
    margin: -2px;
    width: 22px;
    text-align: center;
    margin-right: 3px;
    border-radius: 2px;
    cursor: pointer;
}
.fa-button:hover {
    background: #19222d;
    color: #2196f3;
}
.streamline a {
    color: #3d91fd;
    text-decoration: underline;
    background-color: transparent;
}
.item-overlay button{
    background: 0;
    border: none;
    cursor: pointer;
}
.item-overlay button:hover{
    color:red;
}
.irs--round .irs-handle {
    top: 26px;
    width: 24px;
    height: 24px;
    border: 4px solid #006cfa;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0 1px 3px rgba(0,0,255,0.3);
}
.gd-overlay a{
    text-shadow: 0 0 6px black, 0 0 6px #202a38;
}
#object-filter .filter-preload{
    width: calc(100% + 40px);
    height: 100%;
    top: 0;
    left: -20px;
    position: absolute;
    background: #f3f6f9;
    z-index: 100;
}
.dark .filter-preload{
    background: #202a38!important;
}
.irs--flat .irs-handle > i:first-child {
    position: absolute;
    display: block;
    top: 0px;
    left: 50%;
    width: 10px;
    height: 18px;
    margin-left: -5px;
    border-radius: 4px;
    border: 2px solid #667d93;
    background-color: #f3f6f9;
}
.dark .irs--flat .irs-line {
    background-color: #2e3947;
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
    background-color: #2e3947!important;
}
.dark .irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
    background-color: #2e3947!important;
}
.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
    border-top-color: #2e3947!important;
}
.irs--flat .irs-handle.state_hover > i:first-child, .irs--flat .irs-handle:hover > i:first-child {
    background-color: #f3f6f9!important;
}
.dark .irs--flat .irs-handle.state_hover > i:first-child, .irs--flat .irs-handle:hover > i:first-child {
    background-color: #1e2835!important;
}
#filtered_objects{
    transition: 200ms;
    opacity: 1;
}
#filtered_objects.preload{
    opacity: 0;
}
