.m-header{
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 1000;
    height: 50px;
    color: #475258;
    display: flex;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}
.hover_bar{
    position: fixed;
    background: #475258;
    color: #fff;
    z-index: 2000;
    height: 100vh;
    width: 100vw;
    top: 100vh;
    opacity: 0;
    transition: 0.2s;
}
.hover_bar.show{
    top: 0px;
    opacity: 1;
    overflow: scroll;
}
.menu_butt_hamb:active{
    background: #475258;
    color: #fff;
    margin: 5px;
    padding: 0px 13px;
    line-height: 36px;
    height: 38px;
    border-radius: 5px;
}
.menu_butt_hamb{
    font-size: 21px;
    height: 100%;
    padding: 0px 18px;
    line-height: 48px;
}
.logo_container{
    line-height: 50px;
    width: 100%;
}
.logo_container a{
    color: #475258;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    height: 100%;
    display: block;
    line-height: 50px;
    text-decoration: none;
}
.logo_container span{
    display: block;
    width: 100%;
    text-align: center;
}

.logo_img{
    margin-bottom: 2.5px;
    height: 50px;
    float: right;
    padding: 6px;
}
.menu_header{
    width: 100%;
    z-index: 1000;
    height: 50px;
    display: flex;
    position: fixed;
    background: #475258;
    box-shadow: 0 0 16px 5px #475258;
}
#main_menu .bot_sticked a{
    background: #2a3033;
    border-radius: 6px!important;
}
#main_menu .bot_sticked{
    width: 100%;
    text-align: center;
    padding: 25px;
    border-radius: 6px!important;
    display: block;
    box-shadow: 0 0 16px 5px #475258;
}
.button_close_menu{
    font-size: 21px;
    height: 100%;
    padding: 0px 18px;
    line-height: 44px;
}
.menu_body{
    padding-top: 50px;
}
.menu_body ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu_body li{
    line-height: 50px;
}
.menu_body a:active{
    background: rgba(255, 255, 255, 0.2);
}
.menu_body a i {
    color: #74858e;
    padding-right: 13px;
    width: 30px;
}
.menu_body a{
    display: block;
    width: 100%;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.menu_body .bot_line{
    border-bottom: 1px solid #515e65;
}
#filter-head{
    margin-top: 20px;
}
