@import "~choices.js/public/assets/styles/choices.min.css";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    line-height: 1;
    font-family: 'Open Sans';
}
input{
    font-family: 'Open Sans';
}
html, body {
    height:100%;
}
ol, ul {
    list-style: none;
}
a, a:after {
    color: #0082C9;
    text-decoration: none;
    -webkit-transition: color .1s linear;
    -moz-transition: color .1s linear;
    -o-transition: color .1s linear;
    -ms-transition: color .1s linear;
    transition: color .1s linear;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h2{
    font-size: 30px;
    text-transform: uppercase;
    color: #656565;
}
h3{
    font-size: 18px;
}

sup{
    vertical-align: super;
    font-size: smaller;
    height: 1em;
    line-height: 1em;
}
.main-container {
    width: 100%;
    margin: 0 auto 0 auto;
    position: relative;
    display: table;
    table-layout: fixed;
    height: 100%;
    overflow: hidden;
}
.topbar-outer, .topbar, .topnav, .topnav li, .topnav li a, .topsocial, .topsocial li {
    height: 100px;
}
.topbar-outer {
    width: 100%;
    z-index: 999;
    position: fixed;
    background: #fff;
    border-bottom: 1px solid #D4D4D4;
}
.topbar {
    opacity: 1 !important;
}
.fullheight {
    height: 100%;
}
.middle {
    vertical-align: middle;
}
.table-cell {
    display: table-cell;
}
.table {
    display: table;
    float: left;
}
.topsocial {
    display: table;
    float: left;
}
.topnav {
    display: table;
    float: right;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.topnav li {
    list-style: none;
    display: block;
    float: left;
    vertical-align: middle;
    padding-left: 30px;
    position: relative;
}
.topbar-outer.dark .topnav li a.current {

    opacity: 1;
}
.topbar-outer.dark .topnav li a {

    opacity: 0.7;
    -webkit-transition: opacity .1s linear;
    -moz-transition: opacity .1s linear;
    -o-transition: opacity .1s linear;
    -ms-transition: opacity .1s linear;
    transition: opacity .1s linear;
}
.topnav li a.current {
    border-bottom: 10px solid #28649D !important;
}
.topnav li a {
    display: table-cell;
    vertical-align: middle;
    //border-bottom: 10px solid transparent;
    white-space: nowrap;
}
.logo {
}
.topsocial li {
    list-style: none;
    display: table-cell;
    padding-right: 10px;
    vertical-align: middle;
}
.topnav li a.current {
    border-bottom: 10px solid #28649d !important;
    color: #28649d;
}
.topnav li a {
    display: table-cell;
    vertical-align: middle;
    border-bottom: 10px solid transparent;
    padding-top: 10px;
    white-space: nowrap;
}
.home-back{
    width: 100%;
    height: 500px;
    position: relative;
    background: url(/img/bg.jpg) repeat-x;
}

.bg{
    background: url(/img/bg.jpg) center repeat-x;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-position-y: 100%;
    background-position-x: 0px;
    overflow: hidden;
}
.velo{
    background: url(/img/parallax/velo.png) center no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background-position-y: calc(100% - 43px);
    background-position-x: 0px;
    animation: velo 20s infinite linear;
}
.animate{
    background: url(/img/parallax/desk.gif) center;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    background-position-x: calc(50% + 207px);
    transform: translate(207px, -48px);
}
.light{
    background: url(/img/parallax/light.png) center;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background-repeat: repeat-x;
    background-position-y: calc(100% - 8px);
    background-position-x: center;
    animation: movelamp 10s infinite ease-in-out;
}
.lamp{
    background: url(/img/parallax/2.png) center repeat-x;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background-position-y: calc(100% - 8px);
    background-position-x: center;
}
.trees{
    background: url(/img/parallax/1.png) center repeat-x;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background-position-y: 100%;
    background-position-x: center;
}
@keyframes movelamp {
    0% {
        filter: brightness(0.6);
    }
    60%{
        filter: brightness(0.6);
    }
    70%{
        filter: brightness(1.2);
    }
    72%{
        filter: brightness(1.0);
    }
    74%{
        filter: brightness(1.2);
    }
    76%{
        filter: brightness(1.2);
    }
    78%{
        filter: brightness(1.0);
    }
    80%{
        filter: brightness(1.2);
    }
    100%{
        filter: brightness(0.6);
    }
}

@keyframes velo {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(100%);
    }
}
.content-width{
    width: 1160px;
    margin: 0 auto 0 auto;
}
.home-outer{
    position: relative;
    height: 100%;
    z-index: 10;
}
.ban-bot-outer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}
.head-buttons{
    display: inline-block;
    width: 240px;
    height: 50px;
    border: 1px solid #fff;
    border-bottom: 0;
}
.head-buttons {

    label:not(.title) {
        padding: 0px 26px;
        margin: 0;
        background: transparent;
        cursor: pointer;
        display: inline-block;
        height: 100%;
        width: 50%;
        line-height: 50px;
        text-align: center;
        color: #fff;
    }

    input {
        display: none;

        &:checked + label {
            background-color:#AACA56;
            border-color: transparent;
            color: #fff;
        }
    }
}
.ban-bot-outer h1{
    display: inline-block;
    padding-top: 15px!important;
    width: auto;
    padding: 0 30px;
    font-size: 20px;
    color: #FFFFFF!important;
    font-style: normal;
    margin: 0!important;
}
.filter-outer .f-elem{
    height: 130px;
    width: auto;
    border-left: 1px solid #A6A6A6;
    padding: 0px 10px;
    display: none;
}
.filter-outer{
    margin-top: 18px;
}
.filter-outer .choices{
    min-width: 115px;
    margin: 43px 0;
    position: relative;
    max-width: 200px;
}
.filter-outer .headname + .choices{
    margin-top: 13px!important;
}
.filter-outer .choices__inner {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background-color: transparent;
    padding: 0;
    border: none;
    border-radius: 2.5px;
    font-size: 14px;
    min-height: 44px;
    overflow: hidden;
}
.filter-outer .choices__list--dropdown {
    background-color: #F2F2F2;
    border: none;
    text-transform: initial;
    padding: 20px 0;
    box-shadow: 0px 19px 21px rgba(0, 0, 0, 0.1);
}
.choices__list--single {
    padding: 4px 34px 4px 4px;
}
.filter-outer .choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: transparent;
    color: #0082C9;
}

.filter-outer .choices__list--single {
    line-height: 20px;
}
.filter-outer .choices__inner{
    display: flex;
    align-items: center;
    padding-bottom: 0px!important;
}
.filter-outer .choices__list--dropdown{
    min-width: 250px;
    top: 88px;
}
.filter-outer .choices[data-type*=select-one]:after {
    margin-top: -3.5px;
}

.filter-outer .choices[data-type*=select-one].is-open:after {
    margin-top: -8.5px;
}

.filter-outer .choices__inner .choices__item--selectable{
    //height: 130px;
    //line-height: 130px;
}
.np{
    padding: 0!important;
}
.filter-outer .choices__item{
    word-break: initial;
}
.f-elem .incont{
    height: 100%;
    display: flex;
}
.f-elem .headb{
    padding: 16px 0;
}
.form-check {
    position: relative;
    display: block;
    user-select: none;
    cursor: pointer;
}
.form-check-input {
    position: absolute;
    margin-left: -1.25rem;
}
.checkbox {
    display: none;
}
.checkbox-custom {
    position: relative;
    width: 16px;
    height: 16px;
    background: url("/img/svg/check.svg");
    margin-bottom: 3px;
}
.checkbox-custom,
.label {
    display: inline-block;
    vertical-align: middle;
}
.checkbox:checked + .checkbox-custom::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("/img/svg/check-on.svg");
}
.incont .elem{
    padding: 8px 0;
    height: 37px;
}
.d-inline{
    display: inline-block;
}
.pr-10{
    padding-right: 10px!important;
}
.pr-12{
    padding-right: 12px!important;
}
.f-elem .prefix{
    width: 30px;
    padding-right: 5px;
    display: block;
    float:left;
}
.f-elem .suffix{
    float:right;
    padding-left: 5px;
}
.filter-block input{
    border: 0;
    border-bottom: 1px solid #D4D4D4;
    outline: 0;
    font-size: 16px;
    margin-top: -10px;
}
.filter-block input::placeholder{
    color:#949494;
}
.f-elem .elem{
    color:#949494;
}
.f-elem .headb{
    color: #656565;
    font-size: 14px;
    text-transform: uppercase;
}
.f-elem:first-child{
    padding-left: 0px;
    border: none;
}
.f-elem:last-child{
    padding-right: 0px;
}
.filter-outer{
    font-size: 14px;
    display: flex;
    letter-spacing: 0.04em;
}
.under-searcher{
    height: 110px;
    line-height: 110px;
    font-size: 14px;
    color:#656565;
    border-bottom: 2px solid #D4D4D4;
}
.under-searcher .under-block{
    width: 50%;
    display: inline-block;
}
.blue-btn{
    height: 40px;
    font-weight: bold;
    font-size: 14px;
    background-color: #0082C9;
    color: #fff;
    outline: none;
    border: none;
    letter-spacing: 0.06em;
    padding: 0px 15px;
    text-transform: uppercase;
    cursor: pointer;
}

.blue-btn.href{
    display: block;
    width: 100%;
    padding: 10px;
    line-height: 20px;
    text-align: center;
}

.col-3{
    width: 25%;
    display: inline-block;
}
.pre-outer:after{
    content: '.';
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}
.prejudes{
    width: 200px;
    margin: 0 auto;
    text-align: center;
}
.pre-outer .elem:nth-child(2n) .prejudes{
    background-color: #F2F2F2;
}
.pre-outer .elem img{
    padding: 15px;
    padding-bottom: 25px;
}
.prejudes .title{
    display: block;
    font-size: 20px;
    text-transform: uppercase;
}
.pre-outer{
    padding-top: 50px;
}
.lister-rent{
    padding-top: 30px;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
}
.lister-rent li{
    line-height: 29px;
}
.lister-rent .count{
    float: right;
}

.lister-rent a{
     color: #656565;
 }
.lister-rent span{
    color: #656565;
}
.lister-rent a:hover{
    color: #0082C9;
}
.botnav {
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    line-height: 100px;
}
.botnav li {
    list-style: none;
    display: block;
    float: left;
    vertical-align: middle;
    padding-left: 30px;
    position: relative;
}
.madeby{
    display: inline-block;
    float: right;
}
.footer {
    border-top: 2px solid #D4D4D4;
    margin-top: 30px;
}
.footer .logo{
    display: inline-block;
}
.footer .logo a{
    display: block;
    padding: 27.5px 0;
    height: 100px;
}
.footer .logo a img{
    display: block;
}
.footer{
    height: 100px;
    line-height: 100px;
}
.madeby a{
    display: block;
    white-space: nowrap;
    height: 100px;
    line-height: 100px;
}
.madeby a img{
    display: block;
    width: 160px;
    height: 100px;
}
.madeby span{
    display: block;
}
.product-pre{
    width: 20%;
    float: left;
    padding: 0 15px;
    margin-bottom: 20px;
}

.product-pre.col-4{
    width: 25%;
}
.product-pre.col-5{
    width: 20%;
}
.product-pre::after{
    clear: both;
}
.product-block{
    margin-top: 50px;
    margin-left: -15px;
    margin-right: -15px;
}
.product-block::after{
    content: '';
    display: block;
    clear: both;
}
.phonebutt{
    border: 0;
    outline: 0;
    padding: 0;
    float: right;
    width: 40px;
    height: 30px;
    cursor: pointer;
    background: url('/img/svg/phone-on.svg');
    z-index: 999999;

}
.phonebutt:hover{
    background: url('/img/svg/phone-on.svg');
}
.phone-block{
    margin-top: 15px;
    height: 30px;
    line-height: 30px;
    color: #0082C9;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}
.product-pre img{
    width: 100%;
    height: 129px;
    display: block;
    object-fit: cover;
    border-radius: 4px;
}
.product-pre h3{
    margin-top: 15px;
    line-height: 22px;
    height: 44px;
    overflow: hidden;
    color: #656565;
}
.product-pre .address{
    margin-top: 15px;
    display: block;
    font-size: 16px;
    line-height: 28px;
    color: #949494;
    height: 66px;
    overflow: hidden;
}
.union{
    background: url(/img/svg/union.svg) no-repeat center;
    display: inline-block;
    width: 10px;
    height: 12px;
}
.map-link{
    position: absolute;
    top: 0;
    right: 0;
    width: 160px;
    height: 159px;
    text-align: center;
    border: 0;
    background: transparent;
    cursor: pointer;
    outline: none!important;
}
.onmap{
    background: url(/img/mbp.png);
    width: 200px;
    height: 200px;
}
.map-link img{
    transition: all 0.2s ease-in-out;
}
.look-on-map{
    color: #fff;
    padding: 18px 10px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
}

@keyframes sheen {
    0% {
        transform: skewY(-45deg) translateX(0);
    }
    100% {
        transform: skewY(-45deg) translateX(24.5em);
    }
}
$color: #2194E0;


.button-shine {
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    background: #dc4545;
    display: inline-block;
    border-radius: 0.3em;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.57);
    &:before {
        content: "";
        background-color: rgba(255,255,255,0.2);
        height: 100%;
        width: 7em;
        display: block;
        position: absolute;
        top: 0;
        left: -13.5em;
        transform: skewX(-45deg) translateX(0);
        transition: none;
    }
    &:hover {
        background-color: #0082c9;
        color: #fff;
        border-bottom: 4px solid #28649d;
        &:before {
            transform: skewX(-45deg) translateX(30.5em);
            transition: all 0.5s ease-in-out;
        }
    }
    &:hover img {
        padding-top: 26px;
    }
}

.type-1 #select{  display: inline-block; }

.type-1 #type{  display: inline-block; }
.type-1 #rooms{  display: inline-block; }
.type-1 #square{  display: inline-block; }
.type-1 #cost{  display: inline-block; }
.type-1 #place{  display: inline-block; }

.type-2 #select{  display: inline-block; }
.type-2 #square{  display: inline-block; }
.type-2 #cost{  display: inline-block; }
.type-2 #place{  display: inline-block; }

.type-3 #select{  display: inline-block; }
.type-3 #square{  display: inline-block; }
.type-3 #cost{  display: inline-block; }
.type-3 #place{  display: inline-block; }

.type-4 #square_sot{  display: inline-block; }
.type-4 #select{  display: inline-block; }
.type-4 #cost{  display: inline-block; }
.type-4 #place{  display: inline-block; }

.type-5 #select{  display: inline-block; }
.type-5 #cost{  display: inline-block; }
.type-5 #place{  display: inline-block; }

.type-6 #c-kind{  display: inline-block; }
.type-6 #select{  display: inline-block; }
.type-6 #cost{  display: inline-block; }
.type-6 #place{  display: inline-block; }

.objects_box{
    width: 920px;
    display: inline-block;
    margin-right: 40px;
}
.object-filter{
    width: 200px;
    display: inline-block;
    float: right;
}
.objects-and-filter-box{
    margin-top: 40px;
}
.content-width h1{
    padding-top: 50px;
    color: #656565;
}
.map-btn{
    background: url(/img/mbp.png);
    width: 200px;
    height: 200px;
    position: relative;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.object-filter{
    margin-top: 50px;
}

.map-btn > .map-link {
    margin: 20px;
}
.filter-form{
    background-color: #F2F2F2;
    margin-top: 23px;
    padding: 10px;
    font-size: 14px;
    color: #949494;
}
.filter-form hr{
    border: 0;
    height: 1px;
    background-color: #D4D4D4;
}
.filter-form .elem{
    margin: 10px 0;
}
.filter-form .headname{
    font-weight: bold;
    color: #656565;
    margin-top: 15px;
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.filter-form img{
    display: block;
    float: left;
}
.filter-form h3 span{
    display: block;
    margin-left: 30px;
    color: #DC4545;
}
.filter-form .choices__list--dropdown .choices__item--selectable {
    padding-right: 0px!important;
}
.filter-form .choices__inner {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background-color: transparent;
    padding: 0!important;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    min-height: 30px;
    overflow: hidden;
}
.filter-form .choices__list--single {
    padding-left: 0px!important;
    line-height: 20px;
}
.filter-form input {
    border: 0;
    border-bottom: 1px solid #D4D4D4;
    background: transparent;
    outline: 0;
    font-size: 16px;
    margin-top: -10px;
    padding: 0px 5px;
}
.filter-form .suffix {
    float: right;
    padding-left: 5px;
    color: #949494;
}
.filter-form .prefix{
    color: #949494;
}
.find-butt{
    width: 100%;
    background: #aaca56;
    border-radius: 3px;
    border: 0;
    padding: 6px;
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}
.single_object h1{
    font-size: 30px;
    color: #656565;
    font-weight: normal;
}
.photo_container{
    margin-top: 25px;
}
.photo_container .fotorama__stage__frame{
    background: #F2F2F2;
}
.photo_container .fotorama__nav{
    //background: #D4D4D4;
}
.photo_container .fotorama__arr {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    margin-top: -40px;
    background: url("/img/svg/arrow.svg");
}
.photo_container .fotorama__arr.fotorama__arr--next{
    background: url("/img/svg/arrowr.svg");
}
.photo_container .fotorama__fullscreen-icon {
    width: 32px;
    height: 32px;
    background: url("/img/svg/fullsuze.svg") center;
}
.fotorama__thumb-border {
    border-color: #488ccd;
}
.main_params{
    display: flex;
}

.main_params .elem{
    padding: 15px;
    border-right: 1px solid #949494;
}

.main_params .headtitle{
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #656565;
}
.main_params .elzet{
    display: inline-block;
}
.elmets .elzet{
    padding-right: 5px;
}
.elmets .icon{
    height: 30px
}
.elmets .icon img{
    height: 100%;
    object-fit: none;
}
.elmets .elzet{
    height: 30px;
    line-height: 30px;
    float: left;
}
.main_params .elem:first-child{
    padding-left: 0px;
}
.main_params .nominal{
    font-size: 22px;
    color: #656565;
    padding-right: 12px;
}

.elmets .nominal:last-child{
    padding-right: 0px;
}
.elmets{
    overflow: hidden;
}
.description-wraper{
    margin-top: 44px;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
    color: #656565;
}
.city_bread .elem{
    display: inline-block;
    margin: 10px 0;
    padding: 0 15px;
    border-right: 1px solid #AACA56;
}

.city_bread .elem:first-child{
    padding-left: 0px;
}

.city_bread{
    margin-top: 20px;
}
.parametrs .details-data{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #656565;
}
.parametrs .details-title{
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #949494;
}
.parametrs{
    overflow: hidden;
    margin: 40px 0;
}
.parametrs .elem{
    width: calc(33.333333333% - 20px);
    margin-right: 20px;
    float: left;
    border-right: 1px solid #949494;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    min-height: 77px;
}
.parametrs .elem:nth-child(3n+3){
    border-right: 0;
}
.full-cost{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: #656565;
    margin-bottom: 15px;
}

.fa{
    display: inline-block;
    background-size: 100%!important;
}
.fa.fa-rub{
    background: url(/img/svg/rub.svg);
    height: 15px;
    width: 13px;
}
.m-squad{
    color: #656565;
    font-size: 14px;
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
}
.agency-name{
    font-weight: bold;
    font-size: 16px;
    line-height: 29px;
    color: #656565;
}
.manager-name{
    padding: 10px;
    font-size: 16px;
}
.manager-ava{
    overflow: hidden;
    width: 70px;
    text-align: center;
    margin: 0 auto;
}
.manager-ava img{
    width: 70px;
    height: 70px;
    object-fit: contain;
    border-radius: 50%;
}
.manager-data hr{
    margin: 15px 0;
}
.manager-name{
    display: block;
    color: #8c8c8c;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
    padding: 10px 0;
}
.w-100{
    width: 100%;
}
.map .objects_box {
    width: 280px;
}
.map .product-block {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.map .object-filter {
    margin-top: 0px;
    position: absolute;
    top: 0;
    right: 0;
}
.map{
    height: 100vh;
    overflow: hidden;
}
.nano>.nano-pane>.nano-slider {
    background: #0082C9!important;
}
.fullmap{
    height: 100vh;
    width: 100vw;
    padding-left: 280px;
    min-width: 500px;
    display: inline-block;
}
.map .objects_box {
    margin-right: 0px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    background: #fff;
}
.map-box{
    position: relative;
}
.ymaps-2-1-73-b-cluster-tabs{
    height: 280px!important;
}
.map .inmap-img{
    max-height: 220px;
    width: 100%;
    object-fit: cover;
}
.map .product-pre .address {
    height: auto!important;
}
.map .product-pre h3 {
    height: auto!important;
}
.no-objects{
    padding: 15px;
}
.phone_short{
    position: absolute;
    top: 0;
    height: 100%;
    width: calc(100% - 40px);
    margin-right: 40px;
    background-color: #aaca56;
    padding: 0px 15px;
    color: #fff;
    font-weight: normal;
    right: -100%;
    line-height: 30px;
    display: block;
    z-index: 0;
    transition: 0.1s;
    opacity: 0;
}
a:hover .phone_short{
    right: 0;
    opacity: 1;
}
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}
.pagination-wraper > ul > li > a > i {
    color: #99a1b6;
    font-size: 16px;
    line-height: 20px;
}

.pagination-wraper > ul > li:first-child {
    float: left;
}

.pagination-wraper > ul > li:last-child {
    float: right;
}

.pagination-wraper > ul > li > a {
    display: block;
    color: #527efd;
    font-size: 12px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    padding-top: 10px;
    -webkit-transition: all 0s;
    transition: all 0s;
}

.pagination-wraper ul {
    margin: 0;
    text-align: center;
}
.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}
.pagination-sm .page-link {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
}
.page-item {
    font-weight: bold;
}
.in-params{
    margin-top: 68px;
}
.m-squad + .in-params{
    margin-top: 29px;
}
.filter-form.sticky{
    position: fixed;
    top: 100px;
    width: 200px;
}
